@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  /* background: #101c2c; */
  overflow-x: hidden;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.news-bar {
  background-color: #1a202c;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  animation: ticker-scroll 25s linear infinite;
}

.ticker.paused {
  animation-play-state: paused;
}

div:has(nav[aria-label="Side navigation"]) {
  z-index: 800 !important;
}

.top-navigation {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.highlight {
  background-color: #b2f6ff; /* Light khaki color for a subtle highlight */
  color: #000000; /* Dark text color for contrast */
  padding: 0 2px; /* Small padding for better readability */
  border-radius: 2px; /* Rounded corners for a softer look */
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}


.turn-container {
  min-height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-exit {
  opacity: 0;
  transition: opacity 1s;
}

.turn-exit-active {
  opacity: 0;
}

.turn-enter {
  opacity: 0;
}

.turn-enter-overlay {
  position: absolute;
  padding-right: 20px;
}

.turn-enter-active {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;
}

.turn-cancel {
  display: none;
}


.escape-chat-box {
  /* place at bottom of container */
  /* position: absolute;
  width: 100%;
  bottom: 0; */
  margin: 0;
  padding: 0;
}

.chat-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.chat-content {
  padding: 10px;
  overflow-y: auto;
  height: 90%;
}


.chat-turn-user {
  /* background-color: #d6d6d6 !important; */
  border-radius: 0px;
  border: unset !important;
}


.chat-turn-assistant-text {
  /* background-color: #494949 !important; */
  border-radius: 0px;
  border: unset !important;
}
