name: Deploy Frontend
on:
  push:
    branches: [main]
    paths:
      - "frontend/**"
      - ".github/workflows/deploy-frontend.yaml"

env:
  S3_BUCKET: ${{ secrets.S3_BUCKET }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      # TODO serve sourcemaps to posthog, see https://posthog.com/docs/error-tracking/installation?tab=React
      - name: Build project
        run: npm run build

      - name: Deploy to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        run: |
          aws s3 rm s3://$S3_BUCKET --recursive
          aws s3 sync build/ s3://$S3_BUCKET
          aws s3 cp build/index.html s3://$S3_BUCKET/index.html --cache-control "no-cache, no-store, must-revalidate"
